<!doctype html>
<head>
	{% block head %}
	<title> {% block title %} {% endblock %} | Student Centric LMS </title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/materialize.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
	<script type="text/javascript">
	 $(document).ready(function(){
      $('.parallax').parallax();
    });
	</script>
	<style type="text/css">
		html {
			background-image: url({{ url_for("static", filename = "images/background.jpg")}});
			background-repeat: repeat;
		}
	</style>
	{% endblock %}
</head>
<body>
	<div class="container">
	  <nav>
	    <div class="nav-wrapper red accent-4">
	      <a href="{{ url_for('index') }}" class="brand-logo">Student Centric LMS</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="sass.html">About us</a></li>
	        <li><a href="{{ url_for('join')}}">Join</a></li>
	        <li><a href="{{ url_for('login') }}">Login</a></li>
	      </ul>
	    </div>
	  </nav>
	  {% if header %}
	  <div class="parallax-container">
	  	<div class="parallax">
	  		<img src="{{ url_for('static', filename='images/student-circle.jpg') }}" />
	  	</div>
	  </div>
	  {% endif %}
	  <div class="section white">
			{% block body %}

			{% endblock %}
	  	</div>
	</div> <!-- end of container -->
</body>
</html>